a {
  color: white; 
  text-decoration: none; 
  background-color: brown;
  border-radius: 8px; 
}
a:hover{
  background-color: black; 
}

body {
  text-align: center; 
  color: beige; 
  font-size: 30px; 
  padding: 12px; 
  margin: 0; 
}
